h1 {
  color: blueviolet;
  text-align: center;
}
.saksham {
  height: 100px;
  width: 100px;
  background-color: wheat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: blue;
  font-size: smallers;
  font-weight: 900;
  font-family: cursive;
}
